body{

    background-image: linear-gradient(red, yellow, green);
    background-attachment:fixed;
}
#formDiv{
    display: flex;
    justify-content: space-around;
}
.wrapper{
    display: flex;
    flex-direction: column;
}